
<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io();
  let clock = document.querySelector('#clock');
  socket.on('message', function (msg) {
    let current = `<h3>${msg}</h3>`; 
    clock.innerHTML = `<h3></h3>`;
    clock.innerHTML = current;
  })
</script>