.spacer {
    height: 70px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
#nav-heading {
  margin-left: 25px;
}
#nav-login {
  margin-left: 520px;
  margin-right: 25px;
}
#nav-home {
  margin-left: 25px;
}
#nav-upload {
  margin-left: 25px;
}
#nav-search {
  margin-left: 25px;
}
#clock {
  border: 2px solid black;
  margin-right: 0px;
}
#clock h3 {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

#search-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;

}
#login-form {
  display: flex;
  flex-direction: column;
}
.login-label {
  align-self: center;
}
#search-results {
  height: 400px;
}

#search-bar {
  width: 90%;
  height: 40px;
  margin-left: 20px;
}
#search-btn {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  background-color: lightgreen;
}

#login-btn {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#upload-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
#upload-form-header {
  margin-bottom: 25px;
}
#upload-btn {
  margin-top: 10px;
  width: 75px;
}