<form id="search-form" action="/search/query" method="post">
  <input id="search-bar" class="form-control" type="search" name="search"
    hx-post="/search/query'
    hx-trigger="keyup changed delay:500ms"
    hx-target="#search-results"
    placeholder="Search...">
  <button id="search-btn" type="submit">Go</button>
</form>
<div id="search-results"></div>