<form id="upload-form" action="/upload" enctype="multipart/form-data" method="post">
    <label for="title">Filename:</label>
    <input id="name"type="text" class="form-control" name="name" placeholder="Enter a name for your file." />
    <input type="file" class="form-control-file" name="upload" >
    <input id="upload-btn" type="submit"  class="btn btn-dark" value="Upload">
</form>