<!DOCTYPE html>

<html lang="en">

<head>
  <title>Feed</title>
  <%- include('../partials/global/head.ejs'); %> 
</head>
<body>
  <header>
    <%- include('../partials/global/nav.ejs'); %>
  </header>      
    <div class="spacer"></div>
    <a href="/signup">Click herer to create an account</a>
    <main id="app" class="container">
      
    </main>  
  <%- include('../partials/scripts/imports.ejs') %>
  <%- include('../partials/scripts/clock.ejs') %>
  <script type="module" src="/src/main.js"></script>
</body>
</html>