<!DOCTYPE html>

<html lang="en">

<head>
  <title>Feed</title>
  <%- include('../partials/global/head.ejs'); %> 
</head>
<body>
  <header>
    <%- include('../partials/global/nav.ejs'); %>
  </header>      
    <div class="spacer"></div>

    <main id="app" class="container">
          <a href="/signup">Click here to create an account</a>
          <h1>Feed</h1>
          <h3>Coming Soon</h3>
    </main>  
  <%- include('../partials/scripts/imports.ejs') %>
  <%- include('../partials/scripts/clock.ejs') %>
  <script type="module" src="/src/main.js"></script>
</body>
</html>