!DOCTYPE html>

<html lang="en">
<head>
  <title>Sign In</title>
  <%- include('../partials/head'); %> 
</head>
<body>
  <header>
    <%- include('../partials/nav.ejs'); %>
  </header>
  <main id="app" class="container">
    <h2 id="info-heading">Information</h2>
    <button
      hx-post="info/all-files"
      hx-target="#results"
      hx-swap="innerHTML"
      hx-trigger="click"
      id="fetch-btn" 
      class="btn btn-dark">
        Log Uploads
    </button>
    <div id="results"></div>
  </main>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  <script type="module" src="/scripts/main.js"></script>
  <script type="py" src="/scripts/main.py"></script>
  <%- include('../partials/socket.ejs') -%>

</body>
</html>